.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #21212194;

    mat-card {
        width: 400px;
        padding: 20px;
        box-shadow: none;
        background-color: #2c2c2c3a
    }

    .mat-mdc-text-field-wrapper {
        --mdc-outlined-text-field-container-shape: 40px;
    }

    .cad-button-content {
        display: inline-flex;
        align-items: center;
    }

    mat-spinner {
        margin-left: 8px;
    }
}
