<mat-toolbar class="app-top-menu-toolbar">

    <span class="logo">
        <a routerLink="/">
            <img [src]="appLogo" alt="Logo" class="logo-img"/>
        </a>
    </span>

    <span class="spacer"></span>

    <a matButton>Preços</a>
    <a matButton>Contatos</a>

    <span class="spacer"></span>

    <button matButton [disabled]="isOnRouteLogin()" routerLink="/login">Entrar</button>
    <button matButton="tonal" [disabled]="isOnRouteRegister()" routerLink="/register">Cadastrar-se</button>
</mat-toolbar>